name: Design Insight

# Edit OpenAPI Document in SwaggerHub
# Sync OpenAPI -> SCM with Github Sync - https://support.smartbear.com/swaggerhub/docs/integrations/github-sync.html
# Version number = OpenAPI SemVer Version + GitHub Commit Sha for traceability on change
# OpenAPI + Provider Test Report = Provider Contract Uploaded to Pactflow
# *** Test Report is just OAS file, as the design will not be tested against an API mock or real implementation at this stage ***
# Pactflow compares OpenAPI against any registered consumers
# Visiblity into affected consumers visible via can-i-deploy

on:
  push:
    branches: ['swaggerhub*']
    paths:
      - 'oas/**'
  workflow_dispatch:

jobs:
  pact-publish-oas-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: get version of OAS
        run: |
          sudo snap install yq 
          UNIQUE_VERSION=$(yq '.info.version' oas/openapi.yaml)-${{ github.sha }}-design
          echo "version=${UNIQUE_VERSION}" >> $GITHUB_ENV
      - name: merge openapi spec
        run: |
          npx -y oas-merge ./oas/openapi.yaml
      - uses: pactflow/actions/publish-provider-contract@v2
        with:
          broker_url: https://smartbear.pactflow.io
          token: ${{ secrets.PACT_BROKER_TOKEN }}
          application_name: SmartBearCoin-Payee-Provider
          contract: oas/openapi-transformed.json
          verification_results: oas/openapi-transformed.json
    outputs:
      version: ${{ env.version }}

  pact-can-i-deploy:
    strategy:
      matrix:
        environment: [acceptance, production]
      fail-fast: false
    needs: pact-publish-oas-action
    runs-on: ubuntu-latest
    steps:
      - name: can-i-deploy SmartBearCoin-Payee-Provider to ${{ matrix.environment }}
        uses: pactflow/actions/can-i-deploy@v2
        with:
          broker_url: https://smartbear.pactflow.io
          token: ${{ secrets.PACT_BROKER_TOKEN }}
          application_name: SmartBearCoin-Payee-Provider
          to_environment: ${{ matrix.environment }}
          version: ${{ needs.pact-publish-oas-action.outputs.version }}
          retry_while_unknown: 5
          retry_interval: 10
