name: Portal-Docs-Publish

on:
    workflow_dispatch:
        inputs:
            log_level:
              description: 'Log level: 1=DEBUG, 2=INFO, 3=WARNING, 4=ERROR'
              required: false
              default: '2' # Set the default log level to INFO        

env:
    SWAGGERHUB_API_KEY: ${{ secrets.SWAGGERHUB_API_KEY }}

jobs:
    publish-to-portal:
        runs-on: ubuntu-latest
        environment: prd

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - uses: smartbear-devrel/swaggerhub-portal-management@main
          with:
              swaggerhub-api-key: ${{ secrets.SWAGGERHUB_API_KEY }}
              swaggerhub-portal-subdomain: ${{ vars.SWAGGERHUB_PORTAL_SUBDOMAIN }}
              swaggerhub-org-name: ${{ vars.SWAGGERHUB_ORG_NAME }}
              log-level: ${{ github.event.inputs.log_level || '2' }}
              publish: true
              custom-words-file: products/custom-words.txt
